# ==========================================
# INFRASTRUCTURE & NETWORK CONFIGURATION
# ==========================================

# PostgreSQL Database Configuration (CMS)
CMS_PGSQL_DB_HOST=localhost
CMS_PGSQL_DB=cms-db
CMS_PGSQL_DB_USER=cms-db-user
CMS_PGSQL_DB_PASSWORD=cms-db-password
CMS_PGSQL_DB_PORT=5432

# Redis Cache Service Configuration
REDIS_PORT=6379
REDIS_HOST=localhost

# ==========================================
# MICROSERVICES PORTS & CONNECTION CONFIG
# ==========================================

# Backend Microservice Port (CMS API)
CMS_BACKEND_HOST=localhost
CMS_BACKEND_PORT=8081

# Frontend Microservice Port (Thymeleaf Reactive UI)
CMS_FRONTEND_PORT=8080
